<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../src/main/resources/static/css/commingsoon.css" th:href="@{/css/commingsoon.css}" rel="stylesheet">

<head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>EventsWebApp Admin Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="/../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="@{/../static/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<title>EventsWebApp Admin Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
</style>


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>Events.<br>Diversity</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dashboard</a>
        <a href="#Comming" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Comming Soon</a>
        <a href="#pending" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Pending publishers</a>
        <a href="/displayBarGraph" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Statistics</a>
        <a  href="/logout" class="w3-bar-item w3-button w3-hover-white">Logout</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Events</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="Comming">
        <h1 class="w3-xxxlarge w3-text-red"><b>Comming Soon</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
    <div class="bgimg">
        <div class="topleft">
            <p>Balet</p>
        </div>
        <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <p id="demo" style="font-size:30px"></p>
        </div>
        <div class="bottomleft">
            <p>Lacul Lebedelor,Bucuresti</p>
        </div>
        <img src="../../images/Lacul_Lebedelor.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
    </div>

    <script src="../../js/commingsoon.js"></script>


    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Services -->
    <div class="w3-container" id="pending" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Pending publishers</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">

        <div class="container-fluid">
            <div class="row">

                <main class="col-sm-9  col-md-10  pt-3">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#id</th>
                                <th>Name</th>
                                <th>Date of birth</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="publisherDTO : ${ publisherDTOList }">
                                <td th:text="${ publisherDTO.id }">ID</td>

                                <td th:text="${ publisherDTO.name }">Name</td>
                                <td th:text="${ publisherDTO.birthDate }">Date of birth</td>
                                <td th:text="${ publisherDTO.email }">Email</td>
                                <td th:text="${ publisherDTO.username }">Username</td>
                                <td th:text="${ publisherDTO.phone }">Phone</td>
                                <td th:text="${ publisherDTO.address }">Address</td>
                                <td th:text="${ publisherDTO.description }">Description</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <form th:action="@{'/admin/publisher/activate/'+${publisherDTO.id}}" method="get">
                                            <button type="submit" class="btn-sm btn-success">Activate</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>

    </div>

    <!-- Designers -->




    <div class="w3-row-padding">

    </div>

    <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p> We are here to help you!</p>
        <p> If you need support for publishing the events, contact the support team at: suport@evenimente.com</p>

    </div>

    <!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by Events Online</p></div>

<script src="../../js/templateforpg.js"></script>

</body>
</html>
