<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}">

    <title>EventsWebApp CartDetails</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->





	<!-- /END THE FEATURETTES -->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<!-- Bootstrap core CSS -->
	<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../src/main/resources/static/css/commingsoon.css" th:href="@{/css/commingsoon.css}" rel="stylesheet">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
			integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
			crossorigin="anonymous"></script>

	<!-- Custom styles for this template -->
	<link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
<script src="/../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="@{/../static/js/ie10-viewport-bug-workaround.js}"></script>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
	 id="mySidebar"><br>
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
	   style="width:100%;font-size:22px">Close Menu</a>
	<div class="w3-container">
		<h3 class="w3-padding-64"><b>Events.<br>Diversity</b></h3>
	</div>
	<div class="w3-bar-block">
		<a href="/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
		<a href="#cart" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Cart</a>
		<a href="/client/edit" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a>
		<a href="/client/order" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Orders</a>
        <a href="/event#events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a>

        /event#events

		<!--        <a href="/publisher/event" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">EventsLost</a>-->

		<a href="/logout" class="w3-bar-item w3-button w3-hover-white">Logout</a>
		<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
	</div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
	<a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
	<span>Events</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
	 id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

	<!-- Header -->


	<script src="../../js/commingsoon.js"></script>


	<!-- Modal for full size images on click-->
	<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
		<span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
		<div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
			<img id="img01" class="w3-image">
			<p id="caption"></p>
		</div>
	</div>


	<!-- Designers -->
	<div class="w3-container" id="cart" style="margin-top:75px">
	<div class="container-fluid">
		<div class="row">

			<main class="col-sm-9  col-md-10  pt-3">
				<h1>Cart Details</h1>

				<div th:if="${shoppingCartDTO.shoppingCartItemDTOS.size()} == 0">
					<h1>Your cart is empty!</h1>
				</div>

				<div th:if="${shoppingCartDTO.shoppingCartItemDTOS.size()} > 0">
					<h5>Cart items</h5>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
							<tr>

								<th>Event Name</th>
								<th>Category</th>
								<th>Quantity</th>
								<th>Unit Price (USD)</th>
								<th>Total Price (USD)</th>
								<th>Actions</th>
							</tr>
							</thead>
							<tbody>
							<tr
									th:each="shoppingCartItemDTO : ${ shoppingCartDTO.shoppingCartItemDTOS }">
								<td th:text="${ shoppingCartItemDTO.getEventName() }">Event
									Name</td>
								<td
										th:text="${ shoppingCartItemDTO.ticketDTO.ticketCategoryDTO.category }">Category</td>
								<td th:text="${ shoppingCartItemDTO.quantity }">Available
									tickets</td>
								<td th:text="${ shoppingCartItemDTO.ticketDTO.price }">Unit
									price (USD)</td>
								<td th:text="${ shoppingCartItemDTO.totalPrice }">Total
									price (USD)</td>
								<td>
									<form
											th:action="@{'/client/cart/remove/'+${shoppingCartItemDTO.id}}"
											method="get">
										<button type="submit" class="btn-sm btn-primary">Remove</button>
									</form>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${shoppingCartDTO.shoppingCartItemDTOS.size()} > 0">
					<form th:action="@{/client/cart/buy}" method="get">
						<button type="submit" class="btn-lg btn-success">Place
							order</button>
					</form>
				</div>
				<br>
			</main>
		</div>
	</div>
	</div>


	<div class="w3-row-padding">

	</div>

	<!-- Contact -->
	<div class="w3-container" id="contact" style="margin-top:75px">
		<h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
		<hr style="width:50px;border:5px solid red" class="w3-round">
		<p>We are here to help you!</p>
		<p>If you need support for publishing the events, contact the support team at: suport@evenimente.com</p>

	</div>
	<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">
	Powered by Events Online</p></div>

<script src="../../js/templateforpg.js"></script>


</html>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/js/holder.min.js" th:href="@{/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="@{../../js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
