<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}">

    <title>EventsWebApp Edit Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
     id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
       style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>Events.<br>Diversity</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="/publisher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="/publisher/edit" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a>
        <a href="/publisher#events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Events</a>
        <a href="/displayBarGraph" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Statistics</a>

        <!--        <a href="/publisher/event" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">EventsLost</a>-->

        <a href="/logout" class="w3-bar-item w3-button w3-hover-white">Logout</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Events</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">



    <script src="../../js/commingsoon.js"></script>


    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>


    <!-- Designers -->
    <div class="w3-container" id="profile" style="margin-top:75px">

        <div class="container-fluid">
            <div class="row">

                <main class="col-sm-9  col-md-10  pt-3">
                    <h1>Update publisher</h1>
                    <h3>Publisher details</h3>

                    <form class="form-check" th:action="@{/publisher/edit}" th:object="${publisherDTO}" method="post">
                        <div class="form-group">
                            <label for="id" >Id</label>
                            <input type="text" id="id" class="form-control" th:field="*{id}" placeholder="Id" autofocus readonly>
                        </div>

                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" id="name" class="form-control" th:field="*{name}" placeholder="Name"  autofocus>
                        </div>

                        <div class="form-group">
                            <label for="dob" class="sr-only">Date of birth</label>
                            <input type="date" id="dob" class="form-control" th:field="*{birthDate}" placeholder="Date of birth" >
                        </div>

                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" id="email" class="form-control" th:field="*{email}" placeholder="Email" >
                        </div>

                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" id="username" class="form-control" th:field="*{username}" placeholder="Username"  readonly>
                        </div>

                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Password" >
                        </div>

                        <div class="form-group">
                            <label for="address" class="sr-only">Address</label>
                            <input type="text" id="address" class="form-control" th:field="*{address}" placeholder="Address" >
                        </div>

                        <div class="form-group">
                            <label for="phone" class="sr-only">Phone</label>
                            <input type="text" id="phone" class="form-control" th:field="*{phone}" placeholder="Phone" >
                        </div>

                        <div class="form-group">
                            <label for="description" class="sr-only">Description</label>
                            <input type="text" id="description" class="form-control" th:field="*{description}" placeholder="Description" >
                        </div>

                        <br>
                        <button class="btn btn-lg btn-primary " type="submit">Update</button>
                    </form>
                </main>
            </div>
        </div>
    </div>


    <div class="w3-row-padding">

    </div>

    <!-- Contact -->
    <div class="w3-container" id="contact" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>We are here to help you!</p>
        <p>If you need support for publishing the events, contact the support team at: suport@evenimente.com</p>

    </div>
    <!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">
    Powered by Events Online</p></div>

<script src="../../js/templateforpg.js"></script>


</html>



<!-- /END THE FEATURETTES -->


<!-- FOOTER -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../js/holder.min.js" th:href="@{/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="@{../../js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
